.introSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .divIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }