<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRACTIPRO</title>
  </head>
  <body>
      <div style="text-align:center;"><img style="width: 250px;" src="cid:logo" alt="Logo"></div>
      <h1 style="font-weight:bold;text-align:center;">Su usuario ha sido creado exitosamente,</h1>
      <p style="text-align:center;">Ya puede ingresar al sistema correctamente.</p>
  </body>
</html>