.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Hide menu on mobile */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 14px 16px;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px; /* Adds space to the right */
  }
  .menu-icon:hover {
    transform: scale(1.1);
  }
  

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears on top */
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 10px;
    text-align: center;
  }
}
